*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    background-color: #F2F5F9;
    display: grid;
    place-items: center;
}

.contenedor{  
    width: 420px;
    margin-top: 124px; 
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.img1{
    width: 100%;  
    border-radius: 0.8rem; 
    
     
}

.img2{ 
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    
}



.hero{
    display: block;
    position: relative;
    

}


h1{
    margin: 0px 32px  12px;
    font-size: 24px;
    
}

h2{
    font-size: 16px;
}

p{
    color: #677489;
}

.p1{
    margin: 0px 32px  24px;
    font-size: 16px;
    
}

.p2{
    font-size: 16px;
}

.end{
    border-top: solid 1px;
    border-color: #F2F5F9;;;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 12px;
    
}

.avatar{
    border-radius: 50%;
    border: solid 5px;
    border-color: #F2F5F9;
    width: 50px;
    height: 50px;
    margin: 0;
    margin: 24px 0px  24px 32px;

}


.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}